.header{
	background-color: deeppink;
	min-height:80px;
}

.wrapper{
overflow: hidden;
}

.blog{
background-color: blue;
min-height: 150px;
width: 68%;
float: left;
}

.contact{
background-color: green;
min-height: 150px; 
width: 30%;
float: right;
}

.footer{
	clear: both;
	background-color: black;
	min-height:100px;
}

.header1{
	background-color: red;
	min-height: 80px;
}

.container{
overflow: hidden;
}

.box1{
background-color: green;
width: 33%;
min-height: 150px;
float: left;
}

.box2{
background-color: blue;
width: 31%;
min-height: 150px;
float: left;
}

.box3{
background-color: yellow;
width: 34%;
min-height: 150px;
float: left;
} 

.footer1{
background-color: black;
min-height: 80px;
}